/*!-----------------------------------------------\
      LGBTQ.css v2 MIT https://git.io/vK1KB
\-----------------------------------------------!*/

@import "./colors.css";

:root {
  --size: 5rem;

  --banner: {
    content: "";
    width: 100%;
    height: var(--size);
    display: block;
  }
}

.BannerGay:before {
  @apply --banner;
  background-image: var(--gay);
}

.BannerTrans:before {
  @apply --banner;
  background-image: var(--trans);
}

.BannerBiPlus:before {
  @apply --banner;
  background-image: var(--bi);
}

.BannerPansexual:before {
  @apply --banner;
  background-image: var(--pan);
}

.BannerAsexual:before {
  @apply --banner;
  background-image: var(--asex);
}

.BannerNonBinary:before {
  @apply --banner;
  background-image: var(--nb);
}
