:root {
  --g-red: #d04b36;
  --g-orange: #e36511;
  --g-yellow: #ffba00;
  --g-green: #00b180;
  --g-blue: #147aab;
  --g-indigo: #675997;

  --gay: linear-gradient(
    var(--g-red) 0%,
    var(--g-red) 16.6666%,
    var(--g-orange) 16.6666%,
    var(--g-orange) 33.333%,
    var(--g-yellow) 33.333%,
    var(--g-yellow) 50%,
    var(--g-green) 50%,
    var(--g-green) 66.6666%,
    var(--g-blue) 66.6666%,
    var(--g-blue) 83.3333%,
    var(--g-indigo) 83.3333%,
    var(--g-indigo) 100%
  );

  --t-blue: #4fa5c2;
  --t-pink: #f587ac;
  --t-white: #f9fbfc;

  --trans: linear-gradient(
    var(--t-blue) 0%,
    var(--t-blue) 20%,
    var(--t-pink) 20%,
    var(--t-pink) 40%,
    var(--t-white) 40%,
    var(--t-white) 60%,
    var(--t-pink) 60%,
    var(--t-pink) 80%,
    var(--t-blue) 80%,
    var(--t-blue) 100%
  );

  --b-pink: #c1357e;
  --b-purple: #675997;
  --b-blue: #0655a9;

  --bi: linear-gradient(
    var(--b-pink) 0%,
    var(--b-pink) 40%,
    var(--b-purple) 40%,
    var(--b-purple) 60%,
    var(--b-blue) 60%,
    var(--b-blue) 100%
  );

  --p-magenta: #fa5e5b;
  --p-yellow: #ffba00;
  --p-blue: #4fa5c2;

  --pan: linear-gradient(
    var(--p-magenta) 0%,
    var(--p-magenta) 33.332%,
    var(--p-yellow) 33.332%,
    var(--p-yellow) 66.667%,
    var(--p-blue) 66.667%,
    var(--p-blue) 100%
  );

  --a-black: #222222;
  --a-gray: #a2a2a2;
  --a-white: #f9fbfc;
  --a-purple: #a148a2;

  --asex: linear-gradient(
    var(--a-black) 0%,
    var(--a-black) 20%,
    var(--a-gray) 20%,
    var(--a-gray) 40%,
    var(--a-white) 40%,
    var(--a-white) 60%,
    var(--a-purple) 60%,
    var(--a-purple) 80%,
    var(--a-black) 80%,
    var(--a-black) 100%
  );

  --nb-black: #222222;
  --nb-yellow: #f7e45a;
  --nb-white: #f9fbfc;
  --nb-purple: #675997;

  --nb: linear-gradient(
    var(--nb-black) 0%,
    var(--nb-black) 20%,
    var(--nb-yellow) 20%,
    var(--nb-yellow) 40%,
    var(--nb-white) 40%,
    var(--nb-white) 60%,
    var(--nb-purple) 60%,
    var(--nb-purple) 80%,
    var(--nb-black) 80%,
    var(--nb-black) 100%
  );

  --q-black: #000000;
  --q-cornflower: #99d9eb;
  --q-azure: #00a2e6;
  --q-lime: #b4e637;
  --q-white: #fff;
  --q-yellow: #ffba00;
  --q-magenta: #fd6666;
  --q-pink: #ffafc8;
  --queer: linear-gradient(
    var(--q-black) 0%,
    var(--q-black) 8%,
    var(--q-cornflower) 8%,
    var(--q-cornflower) 20%,
    var(--q-azure) 20%,
    var(--q-azure) 32%,
    var(--q-lime) 32%,
    var(--q-lime) 44%,
    var(--q-white) 44%,
    var(--q-white) 56%,
    var(--q-yellow) 56%,
    var(--q-yellow) 68%,
    var(--q-magenta) 68%,
    var(--q-magenta) 80%,
    var(--q-pink) 80%,
    var(--q-pink) 92%,
    var(--q-black) 92%,
    var(--q-black) 100%
  );

  --gaymen-darkgreen: #007c6b;
  --gaymen-palegreen: #40a4a5;
  --gaymen-litegreen: #59c8d2;
  --gaymen-center: #f0efff;
  --gaymen-liteblue: #7aade0;
  --gaymen-paleblue: #0b83c9;
  --gaymen-darkblue: #04336f;
  --gaymen: linear-gradient(
    var(--gaymen-darkgreen) 0%,
    var(--gaymen-darkgreen) 14.28%,
    var(--gaymen-palegreen) 14.28%,
    var(--gaymen-palegreen) 28.58%,
    var(--gaymen-litegreen) 28.58%,
    var(--gaymen-litegreen) 42.87%,
    var(--gaymen-center) 42.87%,
    var(--gaymen-center) 57.16%,
    var(--gaymen-liteblue) 57.16%,
    var(--gaymen-liteblue) 71.45%,
    var(--gaymen-paleblue) 71.45%,
    var(--gaymen-paleblue) 85.74%,
    var(--gaymen-darkblue) 85.74%,
    var(--gaymen-darkblue) 100%
  );

  --gf-pink: #f39ec1;
  --gf-white: #ffffff;
  --gf-purple: #a74a95;
  --gf-black: #000000;
  --gf-blue: #0068b5;
  --genderfluid: linear-gradient(
    var(--gf-pink) 0%,
    var(--gf-pink) 20%,
    var(--gf-white) 20%,
    var(--gf-white) 40%,
    var(--gf-purple) 40%,
    var(--gf-purple) 60%,
    var(--gf-black) 60%,
    var(--gf-black) 80%,
    var(--gf-blue) 80%,
    var(--gf-blue) 100%
  );

  --ag-white: #fff;
  --ag-green: #b8f58a;
  --ag-grey: #b9b9b9;
  --ag-black: #000000;
  --agender: linear-gradient(
    var(--ag-black) 0%,
    var(--ag-black) 14.28%,
    var(--ag-grey) 14.28%,
    var(--ag-grey) 28.58%,
    var(--ag-white) 28.58%,
    var(--ag-white) 42.87%,
    var(--ag-green) 42.87%,
    var(--ag-green) 57.16%,
    var(--ag-white) 57.16%,
    var(--ag-white) 71.45%,
    var(--ag-grey) 71.45%,
    var(--ag-grey) 85.74%,
    var(--ag-black) 85.74%,
    var(--ag-black) 100%
  );

  --i-yellow: #ffba00;
  --i-indigo: #675997;

  --intersex: repeating-radial-gradient(
    circle at center,
    var(--i-yellow),
    var(--i-yellow) 10%,
    var(--i-indigo) 10%,
    var(--i-indigo) 15%,
    var(--i-yellow) 15%,
    var(--i-yellow) 100%
  );
}
